body {
  text-align: center;
  max-width: 100%;
  font-family: sans-serif;
}

.headerTitle {
  font-size: 80px;
}

.directions {
  font-size: 30px;
}

.randomWord {
  text-align: center;
  font-size: 30px;
}

.winnerMessage {
  font-size: 50px;
  color: goldenrod;
}

.restart {
  text-decoration: none;
  font-size: 30px;
  color: red;
}

.guessArea {
  display: flex;
}

.guessedLetters {
  padding: 20px;
  font-size: 50px;
}

.counter {
  padding: 20px;
  font-size: 50px;
}

.guessInput {
}

::-webkit-input-placeholder {
}

.errorMessage {
  color: red;
}

.loserGIF {
  height: 100px;
  width: 100px;
}

.randomWord {
  letter-spacing: 10px;
}
