body {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  max-width: 100%;
}

.headerTitle {
  font-size: 80px;
}

.directions {
  color: green;
  font-size: 30px;
}

.randomWord {
  text-align: center;
  font-size: 30px;
}

.textBox {
  height: 150px;
  width: 150px;
}

.winnerMessage {
  font-size: 100px;
  color: goldenrod;
}

.guessArea {
  display: flex;
  justify-content: space-around;
}

.guessedLetters {
  padding: 20px;
  font-size: 50px;
}

.counter {
  padding: 20px;
  font-size: 50px;
}

.guessInput {
  font-family: 'Gloria Hallelujah', cursive;
}

::-webkit-input-placeholder {
  color: purple;
}

.errorMessage {
  color: red;
}
