body {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Press Start 2P', cursive;
  background: url(http://cdn2us.denofgeek.com/sites/denofgeekus/files/2017/06/atari2600a.jpg);
  background-size: 1574px 1000px;
  background-position: center;
  background-repeat: no-repeat;
  color: #dcb882;
}

.headerTitle {
  font-size: 80px;
}

.directions {
  font-size: 20px;
}

.randomWord {
  text-align: center;
  font-size: 30px;
}

.winnerMessage {
  font-size: 50px;
  color: goldenrod;
}

.restart {
  text-decoration: none;
  font-size: 30px;
  color: red;
}

.guessArea {
  display: flex;
}

.guessedLetters {
  padding: 20px;
  font-size: 50px;
}

.counter {
  padding: 20px;
  font-size: 50px;
}
.textBox {
  width: 230px;
  height: 40px;
}

.submitButton {
  color: goldenrod;
  background: #e03623;
  border: 1px solid #e03623;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

::-webkit-input-placeholder {
  font-family: 'Press Start 2P', cursive;
}

.errorMessage {
  color: red;
}

.randomWord {
  letter-spacing: 10px;
}

.incorrectGuesses {
  font-size: 30px;
}

/*youLost*/

.loserGIF {
  height: 300px;
  width: 500px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.loserContainer {
  margin-top: 50px;
}

.tryNotToLose {
  margin-top: 50px;
}
