<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" for="text/css">
	<title>Document</title>
</head>

<body>
	<div class="loserContainer">
		<img class="loserGIF" src="https://m.popkey.co/399ae5/oZJk4.gif" alt="loser image">
		<h1>How did losing make you feel?</h1>
		<form action="/" method="GET">
			<input type="submit" class="tryNotToLose" value="TRY NOT TO BE A LOSER THIS TIME">
		</form>
	</div>
</body>

</html>