<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h1>How did losing make you feel?</h1>
	<img class="loserGIF" src="https://m.popkey.co/399ae5/oZJk4.gif" alt="loser image">
	<form action="/" method="GET">
		<h1>Then sack up and make it happen cappin'</h1>
		<input type="submit" value="ROCK THIS SHIT">
	</form>

</body>

</html>